.AccordionPage_container {
  max-width: 800px;
  width: 100%;
}

.AccordionPage_try_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.AccordionPage_try_code {
  flex-basis: 100%;
}

.AccordionPage_try_options,
.AccordionPage_try_preview {
  flex-basis: calc(50% - 8px);
  max-width: calc(400px - 8px);
  box-shadow: var(--shadow-inset);
  border-radius: 4px;
  width: 100%;
}

.AccordionPage_try_options {
  padding: 8px;
}

.AccordionPage_try_option {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  padding: 8px;
  width: fit-content;
  border-radius: 4px;
}

.AccordionPage_try_preview {
  min-height: 200px;
  padding: 16px;
}

.AccordionPage_alloptions_item {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .AccordionPage_try_preview,
  .AccordionPage_try_options {
    flex-basis: 100%;
    max-width: 100%;
  }
}
